body {
    font-family: Arial, sans-serif;
		background-color: aliceblue;
}

.link-item {
	height: 200px;
	margin: 10px;
	border-radius: 5px;
	overflow: hidden;
	background-color: #fff;
}

.link-image {
	width: 100%;
	display: block;
}

.link-content {
	padding: 10px;
}

.teaching-card {
	background-color: #fff;
	height: 300px;
	text-align:center;
	border-radius: 5px;
	overflow: hidden;
	margin: 20px 10px;
}

.teaching-card video{
	width: 100%;
	overflow: hidden;
}
